<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="TodoEntitiesX" connectionString="Data Source=|DataDirectory|Todo.sdf" providerName="System.Data.SqlServerCe.4.0" />
    <add name="TodoEntities" connectionString="metadata=res://*/TodoModel.csdl|res://*/TodoModel.ssdl|res://*/TodoModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|Todo.sdf;Persist Security Info=False&quot;" providerName="System.Data.EntityClient" />
    <add name="TodoEntitiesGt" connectionString="metadata=res://*/TodoModel.csdl|res://*/TodoModel.ssdl|res://*/TodoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=indienbanz1;initial catalog=ebanz_gt_01;persist security info=True;user id=AVP;password=sqlrechtenbach;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TodoContext" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=Todo.sdf;Persist Security Info=False" />
  </connectionStrings>
</configuration>